<h1>Listing posts</h1>
  <%= link_to 'New Post', new_post_path, class: 'button' %>

<% @posts.each do |post| %>
  <blockquote>
    <%= post.content %>
    <cite>
      <%= post.user.name %>
      <em> <%= time_ago_in_words(post.created_at) %> ago</em>
    </cite>
    
    <ul class="inline-list right small">
      <li><%= link_to 'Show', post %></li>
      <li><%= link_to 'Edit', edit_post_path(post) %></li>
      <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  
  </blockquote>
<% end %>